# Virtual environment
.venv/

# Logs
logs/
*.log

# Python cache
__pycache__/

# pytest cache
.pytest_cache/

# Ruff cache
.ruff_cache/

# Terraform (将来入れる予定)
.terraform/
terraform.tfstate
terraform.tfstate.backup
